<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ISR_ServiceSoap" closeTimeout="00:12:00" openTimeout="00:12:00"
          receiveTimeout="00:15:00" sendTimeout="00:15:00" allowCookies="false"
          bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" />

      </basicHttpBinding>
    </bindings>
    
    <client>
      
      <!--<endpoint address="http://localhost:16458/ISR_Service.asmx" binding="basicHttpBinding"
        bindingConfiguration="ISR_ServiceSoap" contract="ServiceReference1.ISR_ServiceSoap"
        name="ISR_ServiceSoap" />-->

      <endpoint address="http://202.141.239.194/ISR_service/ISR_Service.asmx" binding="basicHttpBinding"
     bindingConfiguration="ISR_ServiceSoap" contract="ServiceReference1.ISR_ServiceSoap"
     name="ISR_ServiceSoap" />
     
    </client>
  </system.serviceModel>
</configuration>